/*null*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");
@import url("https://use.typekit.net/jvp0igl.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  margin: 0;
}

/*--------------------*/
ol,
ul {
  margin-bottom: 0;
}

body {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  background: lightgray;
}

.header__wrap {
  background: #de5d5d;
  padding-bottom: 33px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
.header__menu {
  position: relative;
  display: flex;
}
.header__menu ul {
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-self: center;
  gap: 43px;
}
.header__menu ul li {
  position: relative;
  cursor: pointer;
}
.header__menu ul li:hover:before {
  content: "";
  position: absolute;
  width: 82px;
  top: -42px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  border-top: 6px solid #ffffff;
}

.container {
  max-width: 1170px;
  padding-right: 0;
  padding-left: 0;
}

.content__banner-wrap {
  position: relative;
  max-width: 100%;
  height: fit-content;
  background-color: #de5d5d;
  min-width: 0;
}
.content__banner-slide {
  height: 100%;
  position: relative;
  z-index: 0;
  min-width: 0;
}
.content__banner-slide .slick-track {
  display: flex;
}
.content__banner-slide .slick-track .slide__item {
  transition: 1s;
  opacity: 0;
}
.content__banner-slide .slick-track .slick-active {
  opacity: 1;
}
.content__banner-slide .slick-list {
  overflow: hidden;
}
.content__banner-slide .slick-list img {
  display: block;
  margin: 0 auto;
  padding-left: 15px;
}
.content__banner-slide .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 56px;
  font-size: 0;
  transform: translateX(-50%);
  left: calc(50% + 4px);
}
.content__banner-slide .slick-dots li {
  list-style: none;
  margin-right: 8px;
}
.content__banner-slide .slick-dots .slick-active button {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.content__banner-slide .slick-dots button {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.content__banner-row {
  margin-top: -690px;
  z-index: 1;
  width: 100%;
  height: 689px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.content__banner-row h2 {
  z-index: 1;
  letter-spacing: -1.3px;
  margin-top: 198px;
  margin-right: 10px;
  white-space: nowrap;
  max-width: 839px;
  height: 85px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 90px;
  font-weight: 600;
  align-self: center;
  margin-bottom: 91px;
}
.content__banner-buttrow {
  align-self: center;
  margin-left: -5px;
}
.content__why-wrap {
  background-color: white;
}
.content__why-row {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 100px;
  margin-bottom: 24px;
}
.content__why-row h3 {
  padding-left: 3px;
  letter-spacing: -1px;
  align-self: center;
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
}
.content__why-itemrow {
  display: flex;
  flex-direction: row;
  margin-bottom: 89px;
  justify-content: space-between;
  padding: 0 60px;
}
.content__why-item {
  display: flex;
  flex-direction: column;
}
.content__why-item:first-child img {
  margin-left: 6px;
}
.content__why-item img {
  align-self: center;
}
.content__why-item span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.content__why-item p {
  width: 249px;
  color: #666666;
  font-family: "Varela Round";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
}
.content__why-item:first-child img {
  width: 229px;
  height: 229px;
  margin-bottom: 38px;
}
.content__why-item:first-child p {
  margin-left: -6px;
}
.content__why-item:nth-child(2) img {
  margin-bottom: 38px;
  width: 231px;
  height: 230px;
  margin-left: 9px;
}
.content__why-item:nth-child(2) p {
  margin-left: 6px;
}
.content__why-item:last-child img {
  margin-bottom: 38px;
  width: 229px;
  height: 229px;
}
.content__share-wrap {
  background-color: #262626;
  padding-top: 72px;
}
.content__share-row {
  display: flex;
  gap: 103px;
}
.content__share-row img {
  padding-left: 2px;
}
.content__share-block {
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  max-width: 100%;
}
.content__share-block span {
  margin-left: -2px;
  letter-spacing: -0.8px;
  display: block;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 36px;
}
.content__share-part1 p {
  padding-left: 2px;
  max-width: 432px;
  color: #aeaeae;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 27px;
  text-align: left;
}
.content__share-part2 {
  gap: 30px;
  color: #aeaeae;
  font-family: "Varela Round";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  min-width: 0;
}
.content__share-slider {
  min-width: 0;
}
.content__share-slider .slick-track {
  display: flex;
}
.content__share-slider .slick-list {
  overflow: hidden;
}
.content__share-slider .slick-list .item-block {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.content__share-slider .slick-list .item-block p {
  margin-top: -6px;
  letter-spacing: 0.1px;
  width: 250px;
}
.content__share-slider .slick-dots {
  margin-top: 43px;
  margin-left: 1px;
  font-size: 0;
  display: flex;
}
.content__share-slider .slick-dots li {
  list-style: none;
  margin-right: 8px;
}
.content__share-slider .slick-dots li button {
  background: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.content__share-slider .slick-dots .slick-active {
  list-style: none;
  margin-right: 8px;
}
.content__share-slider .slick-dots .slick-active button {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.content__features-wrap {
  background: #313131;
}
.content__features-row {
  padding-top: 72px;
  display: flex;
  color: white;
  justify-content: space-between;
}
.content__features-row img {
  padding-right: 33px;
}
.content__features-block {
  padding-top: 97px;
  padding-left: 98px;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 65px;
}
.content__features-part1 {
  display: flex;
  flex-direction: column;
}
.content__features-part1 span {
  letter-spacing: -0.1px;
  display: block;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 29px;
}
.content__features-part1 p {
  padding-left: 4px;
  color: #aeaeae;
  font-family: "Varela Round";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06px;
  line-height: 27px;
}
.content__features-part2 {
  margin-left: 3px;
  width: 472px;
  height: 232px;
  position: relative;
  border-bottom: 42px solid #f06464;
  gap: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
}
.content__features-slider {
  max-width: 100%;
}
.content__features-slider .slick-list {
  overflow: hidden;
}
.content__features-slider .slick-dots {
  margin-top: 42px;
  margin-left: 36px;
  font-size: 0;
  display: flex;
}
.content__features-slider .slick-dots li {
  list-style: none;
  margin-right: 8px;
}
.content__features-slider .slick-dots li button {
  background: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.content__features-slider .slick-dots .slick-active {
  list-style: none;
  margin-right: 8px;
}
.content__features-slider .slick-dots .slick-active button {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.content__features-slider .slick-track {
  display: flex;
}
.content__features-slider .item-block {
  padding-top: 33px;
  padding-left: 26px;
  display: flex;
  color: #262626;
}
.content__features-slider .item-block img {
  padding: 0;
  padding-left: 6px;
  padding-top: 11px;
  padding-right: 27px;
}
.content__features-slider .item-block p {
  color: #666666;
  font-size: 16px;
  font-weight: 700;
  padding-left: 3px;
  letter-spacing: -0.3px;
  line-height: 24px;
}
.content__features-slider .item-block p span {
  font-size: 18px;
  color: #de5d5d;
  font-weight: 700;
  letter-spacing: 0.2px;
  display: block;
  padding-bottom: 9px;
  margin-left: -3px;
}
.content__taken-wrap {
  background: #ffffff;
  overflow: hidden;
}
.content__taken-row {
  padding-top: 77px;
}
.content__taken-row span {
  color: #f06464;
  display: block;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 37px;
  letter-spacing: -1px;
  margin-left: -4px;
}
.content__taken-row p {
  padding-top: 6px;
  padding-left: 99px;
  max-width: 50%;
  color: #666666;
  font-family: "Varela Round";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05px;
  line-height: 27px;
  padding-bottom: 38px;
}
.content__taken-row .container {
  margin-bottom: 39px;
}
.content__taken-slide {
  width: 100%;
  height: 518px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
}
.content__taken-slide img {
  width: 100%;
  height: 100%;
  align-self: flex-end;
  position: relative;
}
.content__taken-photo {
  position: relative;
  width: 100%;
  height: 518px;
  align-self: flex-end;
}
.content__taken-photo:nth-child(1) {
  max-width: 465px;
}
.content__taken-photo:nth-child(2) {
  margin-left: 0px;
}
.content__taken-photo:nth-child(4) {
  max-width: 25%;
}
.content__taken-photo:hover {
  height: 556px;
}
.content__taken-photo:hover img {
  height: 100%;
}
.content__like-block {
  background-color: #151515;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 88px;
  display: none;
  justify-content: space-between;
  padding: 29px 31px;
}
.content__like-block.active {
  display: flex;
}
.content__like-block p {
  color: white;
  padding: 0;
}
.content__like-block button {
  background: url("../icons/Heart.svg") no-repeat;
  width: 25px;
  height: 21px;
  margin-right: 40px;
}
.content__like-block span {
  display: inline-block;
  font-size: 24px;
  padding-left: 37px;
  letter-spacing: 0.1px;
  font-weight: 400;
}
.content__download-wrap {
  background: #de5d5d;
}
.content__download-row {
  display: flex;
  padding-top: 166px;
  padding-left: 96px;
  padding-bottom: 110px;
  gap: 15px;
}
.content__download-row img {
  padding-top: 58px;
}
.content__download-block {
  display: flex;
  flex-direction: column;
}
.content__download-part1 {
  width: 100%;
}
.content__download-part1 p {
  width: 100%;
  line-height: 58px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 26px;
  letter-spacing: -0.5px;
}
.content__download-part1 p span {
  padding-top: 2px;
  padding-left: 1px;
  letter-spacing: -0.05px;
  display: block;
  color: #ffffff;
  font-family: "Varela Round";
  font-size: 24px;
  font-weight: 400;
}
.content__download-part1 p span:before {
  content: "";
}
.content__cimpatibility-wrap {
  background: #e7e7e7;
}
.content__cimpatibility-row {
  max-width: 1070px;
  display: flex;
  flex-direction: column;
  padding-top: 87px;
  padding-left: 99px;
  letter-spacing: -0.3px;
}
.content__cimpatibility-row h3 {
  color: #666666;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 22px;
  border-bottom: 2px solid #cbcbcb;
  margin-bottom: 31px;
}
.content__cimpatibility-block {
  display: flex;
  gap: 81px;
}
.content__cimpatibility-part1 {
  padding-bottom: 120px;
  width: 50%;
}
.content__cimpatibility-part1 p {
  margin-bottom: 27px;
  color: #666666;
  font-family: "Varela Round";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.04px;
  line-height: 24px;
}
.content__cimpatibility-part1 p span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1px;
}
.content__cimpatibility-part1:last-child p {
  margin-left: -24px;
  margin-bottom: 33px;
  color: #666666;
  font-family: "Varela Round";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02px;
  line-height: 24px;
}
.content__cimpatibility-part1:last-child p span {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1px;
}
.content__cimpatibility-part1:last-child img {
  margin-left: -23px;
}

.butt-row {
  display: flex;
  gap: 30px;
}
.butt-row__button {
  position: relative;
  background: transparent;
  border-radius: 5px;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-family: "Varela Round";
  font-size: 30px;
  font-weight: 400;
  transition: 0.5s;
}
.butt-row__button:last-child {
  padding: 19px 20px 24px 85px;
}
.butt-row__button:last-child::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 24px;
  width: 42px;
  height: 47px;
  background: url("../icons/icon-PlayStore.png") no-repeat;
}
.butt-row__button:first-child {
  padding: 19px 22px 24px 86px;
}
.butt-row__button:first-child::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 19px;
  width: 52px;
  height: 52px;
  background: url("../icons/Icon-AppStore.png") no-repeat;
}
.butt-row__button:hover {
  background: #de5d5d;
  border-radius: 15px;
  transform: scale(1.1);
}

.footer {
  padding-top: 50px;
  padding-left: 1px;
  padding-bottom: 80px;
  background: #f4f4f4;
}
.footer__row {
  display: flex;
  flex-direction: row;
  gap: 403px;
}
.footer__rights {
  padding-top: 10px;
  color: #666666;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  align-self: center;
  white-space: nowrap;
  letter-spacing: -0.2px;
}
.footer__block {
  padding-top: 9px;
  padding-left: 1px;
}
.footer__block p {
  color: #666666;
  font-family: "Varela Round";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.25px;
  line-height: 24px;
  margin-bottom: 14px;
}
.footer__block-part {
  gap: 11px;
  display: flex;
}
.footer__block-part input {
  background-color: transparent;
  padding: 0px 69px 3px 15px;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  letter-spacing: -1.1px;
  max-height: 48px;
}
.footer__block-part button {
  transition: 0.5s;
  max-height: 48px;
  border-radius: 5px;
  background-color: #f06464;
  color: #f4f4f4;
  font-family: "Varela Round";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  padding: 12px 23px 19px 23px;
}
.footer__block-part button:hover {
  scale: 1.05;
  border: 1px #f06464 solid;
  color: #f06464;
  background-color: #f4f4f4;
}

@media screen and (max-width: 1024px) {
  .content__banner-slide .slick-track .slide__item img {
    margin-left: -25%;
  }
  .content__taken-row .container p {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
  }
  .content__banner-row {
    gap: 20px;
  }
  .content__banner-row h2 {
    text-align: center;
    white-space: normal;
    bottom: 20px;
  }
  .header__row {
    flex-direction: column;
  }
  .header__row .header__logo {
    align-self: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .header__row .header__logo::after {
    position: absolute;
    content: "<-Tap here";
    color: white;
    font-weight: 700;
    padding-top: 5px;
    padding-left: 10px;
  }
  .header__row .header__menu {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s, opacity 0.4s;
    position: relative;
    margin-top: -100%;
  }
  .header__row .header__menu.active {
    opacity: 1;
    margin-top: 0;
    visibility: visible;
    display: flex;
  }
  .header__row .header__menu ul {
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
  }
  .header__row .header__menu ul li {
    transition: 0.5s;
  }
  .header__row .header__menu ul li:hover {
    scale: 1.3;
    color: #262626;
  }
  .header__row .header__menu ul li:before {
    display: none;
  }
  .content__download-row {
    flex-direction: column;
  }
  .content__download-row img {
    order: 2;
  }
  .content__download-block {
    order: 1;
  }
  .content__share-row img {
    max-width: 40%;
  }
  .content__share-block {
    align-self: center;
    order: 1;
  }
  .content__why-itemrow {
    flex-wrap: wrap;
  }
  .content__features-block {
    padding: 0;
  }
  .content__features-part2 {
    align-self: center;
  }
  .content__features-part1 {
    align-self: center;
  }
  .content__taken-slide {
    height: 100%;
    max-height: 300px;
  }
  .content__taken-photo {
    height: 300px;
    max-height: 320px;
  }
  .content__download-row {
    display: flex;
    flex-direction: row;
  }
  .content__download-row img {
    align-self: flex-start;
    scale: 0.5;
  }
  .footer__row {
    justify-content: space-between;
    gap: 100px;
  }
  .footer__row div {
    display: flex;
    flex-direction: column;
  }
  .content__cimpatibility-part1 {
    padding-bottom: 40px;
  }
  .content__cimpatibility-part1:last-child p {
    margin-left: 0;
  }
  .content__cimpatibility-part1:last-child img {
    margin-left: 0;
  }
  .content__cimpatibility-block {
    gap: 0;
  }
  .content__why-itemrow {
    justify-content: center;
    gap: 70px;
  }
}
@media screen and (min-width: 768px) {
  .header__row {
    flex-direction: column;
  }
  .header__row .header__logo {
    align-self: center;
    margin-bottom: 20px;
  }
  .header__row .header__menu {
    display: flex;
  }
  .header__row .header__menu ul {
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
  }
  .header__row .header__menu ul li {
    pointer-events: none;
  }
  .content__banner-row {
    gap: 20px;
  }
  .content__banner-row h2 {
    text-align: center;
    white-space: normal;
  }
  .content__banner-slide .item {
    padding: 0;
    height: 100%;
  }
  .content__why-itemrow {
    justify-content: center;
    gap: 70px;
  }
  .content__share-row {
    flex-direction: row;
    gap: 10px;
  }
  .content__share-row img {
    max-width: 40%;
  }
  .content__features-row {
    flex-direction: row;
  }
  .content__features-row img {
    order: 2;
  }
  .content__features-row img:nth-child(2) {
    padding: 0;
    max-width: 40%;
    margin-right: -20px;
  }
  .content__features-block {
    margin: 0 auto;
    gap: 10px;
  }
  .content__share-block {
    max-width: 60%;
  }
  .content__taken-row span {
    line-height: 40px;
  }
  .content__taken-photo {
    max-height: 200px;
  }
  .content__like-block {
    padding: 5px 10px;
  }
  .content__like-block button {
    padding: 0;
  }
  .content__like-block span {
    margin-top: -10px;
  }
  .content__download-row {
    flex-direction: row;
    padding: 20px;
  }
  .content__download-row img {
    order: 2;
  }
  .content__download-block {
    order: 1;
  }
  .content__cimpatibility-block {
    gap: 0px;
    flex-direction: column;
  }
  .footer__row {
    flex-direction: column;
    gap: 0;
  }
  .footer__row div {
    display: flex;
    flex-direction: column;
  }
  .footer__block {
    max-width: 50%;
    align-self: center;
  }
  .footer__rights {
    order: 2;
  }
}
@media screen and (min-width: 320px) {
  .header__logo:after {
    font-size: 16px;
  }
  .content__banner-slide {
    margin-bottom: -102px;
  }
  .content__banner-slide .slick-dots {
    bottom: 130px;
  }
  .content__banner-row {
    padding-top: 50%;
  }
  .content__banner-row h2 {
    margin: 0;
    font-size: 40px;
  }
  .content__share-wrap {
    padding-top: 20px;
  }
  .content__share-row {
    flex-direction: column;
  }
  .content__share-row img {
    margin: 0 auto;
    max-width: 50%;
  }
  .content__share-row img:last-child {
    max-width: 100%;
  }
  .content__share-row .content__share-block {
    padding: 0;
    max-width: 95%;
  }
  .content__share-row .content__share-block .content__share-part1 span {
    line-height: 55px;
  }
  .content__share-row .content__share-block .content__share-part2 .slick-list .slick-track .item-block {
    text-align: center;
    flex-direction: column;
  }
  .content__share-row .content__share-block .content__share-part2 .slick-list .slick-track .item-block img {
    order: 0;
    margin: 0 auto;
  }
  .content__share-row .content__share-block .content__share-part2 .slick-list .slick-track .item-block div {
    margin: 0 auto;
  }
  .content__share-row .content__share-block .content__share-part2 .slick-dots {
    margin-top: 20px;
    justify-content: center;
  }
  .content__share-row img {
    order: 2;
  }
  .content__features-row {
    flex-direction: column;
    padding: 40px 20px 0px 20px;
  }
  .content__features-row img:nth-child(2) {
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .content__features-row .content__features-block {
    margin: 0 auto;
  }
  .content__features-row .content__features-block .content__features-part2 {
    scale: 0.6;
  }
  .content__taken-row {
    padding: 20px 0px 20px 0px;
  }
  .content__taken-row .container p {
    margin: 0;
    max-width: 100%;
    padding: 0px 20px;
  }
  .content__taken-slide {
    max-height: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .content__taken-slide .content__taken-photo {
    align-self: center;
    padding: 0px 10px;
    max-width: 400px;
    max-height: 300px;
  }
  .content__like-block {
    left: 10px;
    width: calc(100% - 20px);
  }
  .content__banner-slide .slick-track .slide__item img {
    scale: 0.7;
    margin-left: -200%;
  }
  .content__download-row {
    overflow: hidden;
    padding: 20px 20px 0px 20px;
    flex-direction: column;
    gap: 0;
  }
  .content__download-row img {
    padding: 0;
    align-self: center;
    margin-top: -80px;
    margin-bottom: -140px;
    transform: translateX(15%);
  }
  .content__download-row .content__download-block {
    margin: 0 auto;
  }
  .content__download-row .content__download-block .content__download-part1 p {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    width: 100%;
    line-height: 35px;
  }
  .content__download-row .content__download-block .content__download-part1 p span {
    font-size: 15px;
  }
  .content__cimpatibility-row {
    padding: 0;
    padding-top: 30px;
  }
  .content__cimpatibility-row h3 {
    text-align: center;
  }
  .content__cimpatibility-row .content__cimpatibility-block {
    flex-direction: column;
  }
  .content__cimpatibility-row .content__cimpatibility-block .content__cimpatibility-part1 {
    align-self: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .content__cimpatibility-row .content__cimpatibility-block .content__cimpatibility-part1:nth-child(2) img {
    scale: 1.8;
  }
  .footer__block {
    max-width: 90%;
    align-self: center;
  }
  .footer__row {
    gap: 30px;
    flex-direction: column;
  }
  .butt-row {
    flex-direction: column;
  }
  .carousel-inner img {
    height: fit-content;
  }
  .content__banner-buttrow {
    padding: 0px 10px;
  }
  html {
    overflow-x: hidden;
  }
}
/*# sourceMappingURL=style.css.map */
