@import "null";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');
@import url("https://use.typekit.net/jvp0igl.css");
ol,
ul{
  margin-bottom: 0;
}
body
{
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  background: lightgray;
}
.header {
  &__wrap {
    background: #de5d5d;
    padding-bottom: 33px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
  }

  &__logo {
  }

  &__menu {
    position: relative;
    display: flex;
    ul
    {
      color: #ffffff;
      font-size: 18px;
      display: flex;
      align-self: center;
      gap: 43px;
      li{
        position: relative;
        cursor: pointer;
        &:hover
        {
          &:before
          {
            content:"";
            position: absolute;
            width: 82px;
            top: -42px;
            left: 50%;
            display: flex;
            transform: translateX(-50%);
            border-top: 6px solid #ffffff;
          }
        }
      }
    }
  }
}

.container {
  max-width: 1170px;
  padding-right: 0;
  padding-left: 0;
}

.content {
  &__banner-wrap {
    position: relative;
    max-width: 100%;
    height: fit-content;
    background-color: #de5d5d;
    min-width: 0;
  }
  &__banner-slide
  {
    height: 100%;
    position: relative;
    z-index: 0;
    min-width: 0;
    .slick-track
    {
      display: flex;
      .slide__item{
        transition: 1s;
        opacity: 0;
        img{
        }
      }
      .slick-active
      {
        opacity: 1;
      }
    }
    .slick-list
    {
      overflow: hidden;
      img
      {
        display: block;
        margin: 0 auto;
        padding-left: 15px;
      }
    }
    .slick-dots
    {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 56px;
      font-size: 0;
      transform: translateX(-50%);
      left: calc(50% + 4px);
      li{
        list-style: none;
        margin-right: 8px;
      }
      .slick-active
      {
        button
        {
          width: 12px;
          height: 12px;
          background: #ffffff;
          border: 1px solid #ffffff;
          border-radius: 50%;
        }
      }
      button{
        width: 12px;
        height: 12px;
        background: transparent;
        border: 1px solid #ffffff;
        border-radius: 50%;
      }
    }
  }

  &__banner-row {
    margin-top: -690px;
    z-index: 1;
    width: 100%;
    height: 689px;
    display: flex;
    flex-direction: column;
    align-self: center;
    h2
    {
      z-index: 1;
      letter-spacing: -1.3px;
      margin-top: 198px;
      margin-right: 10px;
      white-space: nowrap;
      max-width: 839px;
      height: 85px;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 90px;
      font-weight: 600;
      align-self: center;
      margin-bottom: 91px;
    }


  }

  &__banner-buttrow {
    align-self: center;
    margin-left: -5px;
  }

  &__why-wrap {
    background-color: white;

  }

  &__why-row {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 100px;
    margin-bottom: 24px;
    h3{
      padding-left: 3px;
      letter-spacing: -1px;
      align-self: center;
      color: #3a3a3a;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 600;
    }
  }

  &__why-itemrow {
    display: flex;
    flex-direction: row;
    margin-bottom: 89px;
    justify-content: space-between;
    padding: 0 60px;
  }

  &__why-item {
    display: flex;
    flex-direction: column;
    &:first-child{
      img{
        margin-left: 6px;
      }
    }
    img{
      align-self: center;
    }
    span
    {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }
    p{
      width: 249px;
      color: #666666;
      font-family: "Varela Round";
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 24px;
      text-align: center;
    }
    &:first-child
    {
      img
      {
        width: 229px;
        height: 229px;
        margin-bottom: 38px;
      }
      p{
        margin-left: -6px;
      }
    }
    &:nth-child(2)
    {
      img
      {
        margin-bottom: 38px;
        width: 231px;
        height: 230px;
        margin-left: 9px;
      }
      p{
        margin-left: 6px;
      }

    }
    &:last-child
    {
      img
      {
        margin-bottom: 38px;
        width: 229px;
        height: 229px;
      }
    }
  }

  &__share-wrap {
    background-color: #262626;
    padding-top: 72px;

  }

  &__share-row {
    display: flex;
    gap: 103px;
    img{
      padding-left: 2px;
    }
  }

  &__share-block {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    gap: 52px;
    max-width: 100%;
    span
    {
      margin-left: -2px;
      letter-spacing: -0.8px;
      display: block;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 36px;
    }
  }

  &__share-part1 {
    p
    {
      padding-left: 2px;
      max-width: 432px;
      color: #aeaeae;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0px;
      line-height: 27px;
      text-align: left;
    }
  }

  &__share-part2 {
    gap: 30px;
    color: #aeaeae;
    font-family: "Varela Round";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
    min-width: 0;
  }
  &__share-slider{
    min-width: 0;
    .slick-track
    {
      display: flex;
    }
    .slick-list
    {
      overflow: hidden;
      .item-block
      {
        display: flex;
        flex-direction: row;
        gap: 30px;
        p{
          margin-top: -6px;
          letter-spacing: 0.1px;
          width: 250px;
        }
      }
    }
    .slick-dots
    {
      margin-top: 43px;
      margin-left: 1px;
      font-size: 0;
      display: flex;
      li{
        list-style: none;
        margin-right: 8px;
        button
        {
          background: transparent;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 1px solid #ffffff;
        }
      }
      .slick-active
      {
        list-style: none;
        margin-right: 8px;
        button
        {
          width: 12px;
          height: 12px;
          background: #ffffff;
          border-radius: 50%;
          border: 1px solid #ffffff;
        }
      }
    }
  }

  &__features-wrap {
    background: #313131;
  }

  &__features-row {
    padding-top: 72px;
    display: flex;
    color: white;
    justify-content: space-between;
    img
    {
      padding-right: 33px;
    }
  }

  &__features-block {
    padding-top: 97px;
    padding-left: 98px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 65px;
  }

  &__features-part1 {
    display: flex;
    flex-direction: column;
    span{
      letter-spacing: -0.1px;
      display: block;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 29px;
    }
    p{
      padding-left: 4px;
      color: #aeaeae;
      font-family: "Varela Round";
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.06px;
      line-height: 27px;
    }
  }

  &__features-part2 {
    margin-left: 3px;
    width: 472px;
    height: 232px;
    position: relative;
    border-bottom: 42px solid #f06464;
    gap: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
  }
  &__features-slider {
    max-width: 100%;
    .slick-list{
      overflow: hidden;
    }
    .slick-dots
    {
      margin-top: 42px;
      margin-left: 36px;
      font-size: 0;
      display: flex;
      li{
        list-style: none;
        margin-right: 8px;
        button
        {
          background: transparent;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 1px solid #ffffff;
        }
      }
      .slick-active
      {
        list-style: none;
        margin-right: 8px;
        button
        {
          width: 12px;
          height: 12px;
          background: #ffffff;
          border-radius: 50%;
          border: 1px solid #ffffff;
        }
      }
    }
    .slick-track{
      display: flex;
    }
    .item-block {
      padding-top: 33px;
      padding-left: 26px;
      display: flex;
      color: #262626;
      img{
        padding: 0;
        padding-left: 6px;
        padding-top: 11px;
        padding-right: 27px;
      }
      p{
        color: #666666;
        font-size: 16px;
        font-weight: 700;
        padding-left: 3px;
        letter-spacing: -0.3px;
        line-height: 24px;
        span{
          font-size: 18px;
          color: #de5d5d;
          font-weight: 700;
          letter-spacing: 0.2px;
          display: block;
          padding-bottom: 9px;
          margin-left: -3px;
        }
      }
    }
  }

  &__taken-wrap {
    background: #ffffff;
    overflow: hidden;
  }

  &__taken-row {
    padding-top: 77px;
    span
    {
      color: #f06464;
      display: block;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 600;
      padding-bottom: 37px;
      letter-spacing: -1px;
      margin-left: -4px;
    }
    p{
      padding-top: 6px;
      padding-left: 99px;
      max-width: 50%;
      color: #666666;
      font-family: "Varela Round";
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.05px;
      line-height: 27px;
      padding-bottom: 38px;
    }
    .container
    {
      margin-bottom: 39px;
    }
  }

  &__taken-slide {
    max-height: 518px;
    display: flex;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__taken-photo
  {
    position: relative;
    &:hover{
      margin-top: -38px;
    }
  }
  &__like-block{
    background-color: #151515;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 88px;
    display: none;
    justify-content: space-between;
    padding: 28px 34px 6px 32px;
    &.active{
      display: flex;
    }
    p{
      color: #fff;
      padding: 0;
      max-width: 100%;
    }
    div{
      display: flex;
      gap: 10px;
      button{
        background: url("../icons/Heart.svg") no-repeat;
        height: 21px;
        width: 25px;
        margin-top: 2px;
      }
      span{
        font-size: 25px;
        letter-spacing: -0.5px;
        padding: 0;

      }
    }
  }

  &__download-wrap {
    background: #de5d5d;
  }

  &__download-row {
    display: flex;
    padding-top: 166px;
    padding-left: 96px;
    padding-bottom:110px;
    gap: 15px;
    img
    {
      padding-top: 58px;
    }
  }

  &__download-block {
    display: flex;
    flex-direction: column;
  }

  &__download-part1 {
    width: 100%;
    p{
      width: 100%;
      line-height: 58px;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 26px;
      letter-spacing: -0.5px;
      span{
        padding-top: 2px;
        padding-left: 1px;
        letter-spacing: -0.05px;
        display: block;
        &:before
        {
          content: "";
        }
        color: #ffffff;
        font-family: "Varela Round";
        font-size: 24px;
        font-weight: 400;
      }
    }
  }
  &__cimpatibility-wrap {
    background: #e7e7e7;
  }

  &__cimpatibility-row {
    max-width: 1070px;
    display: flex;
    flex-direction: column;
    padding-top: 87px;
    padding-left: 99px;
    letter-spacing: -0.3px;

    h3 {
      color: #666666;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
      padding-bottom: 22px;
      border-bottom: 2px solid #cbcbcb;
      margin-bottom: 31px;
    }
  }

  &__cimpatibility-block {
    display: flex;
    gap: 81px;
  }

  &__cimpatibility-part1 {
    padding-bottom: 120px;
    width: 50%;
    p{
      margin-bottom: 27px;
      span{
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 1px;
      }
      color: #666666;
      font-family: "Varela Round";
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.04px;
      line-height: 24px;
    }
    &:last-child{
      p{
        margin-left: -24px;
        margin-bottom: 33px;
        span{
          display: block;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 1px;
        }
        color: #666666;
        font-family: "Varela Round";
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.02px;
        line-height: 24px;
      }
      img{
        margin-left: -23px;
      }
    }
  }
}

.butt-row {
  display: flex;
  gap: 30px;
  &__button {
    position: relative;
    &:last-child
    {
      &::before
      {
        content: "";
        position: absolute;
        top: 13px;
        left: 24px;
        width: 42px;
        height: 47px;
        background: url("../icons/icon-PlayStore.png") no-repeat;
      }
      padding: 19px 20px 24px 85px;
    }
    &:first-child
    {
      &::before
      {
        content: "";
        position: absolute;
        top: 9px;
        left: 19px;
        width: 52px;
        height: 52px;
        background: url("../icons/Icon-AppStore.png") no-repeat;
      }
      padding: 19px 22px 24px 86px;
    }
    background: transparent;
    border-radius: 5px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-family: "Varela Round";
    font-size: 30px;
    font-weight: 400;
    transition: 0.5s;
    &:hover
    {
      background: #de5d5d;
      border-radius: 15px;
      transform: scale(1.1);
    }
  }
}

.footer {
  padding-top: 50px;
  padding-left: 1px;
  padding-bottom: 80px;
  background: #f4f4f4;
  &__row
  {
    display: flex;
    flex-direction: row;
    gap: 403px;
  }
  &__rights {
    padding-top: 10px;
    color: #666666;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    align-self: center;
    white-space: nowrap;
    letter-spacing: -0.2px;
  }

  &__block {
    padding-top: 9px;
    padding-left: 1px;
    p{
      color: #666666;
      font-family: "Varela Round";
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: -0.25px;
      line-height: 24px;
      margin-bottom: 14px;
    }
  }

  &__block-part {
    gap: 11px;
    display: flex;
    input{
      background-color: transparent;
      padding: 0px 69px 3px 15px;
      border-radius: 5px;
      border: 1px solid #a3a3a3;
      letter-spacing: -1.1px;
      max-height: 48px;
    }
    button{
      transition: 0.5s;
      max-height: 48px;
      border-radius: 5px;
      background-color: #f06464;
      color: #f4f4f4;
      font-family: "Varela Round";
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 24px;
      padding: 12px 23px 19px 23px;
      &:hover
      {
        scale: 1.05;
        border: 1px #f06464 solid;
        color: #f06464;
        background-color: #f4f4f4;
      }
    }
  }
}
@media (max-width: 1200px) {
  
}

